<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<hibernate-configuration>
  <session-factory>
    <!-- connection to the db -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/festivali</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">password</property>
    <!-- disable auto commit -->
    <property name="hibernate.connection.autocommit">false</property>
    <!-- to display sql querry generated when running the program-->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <!-- transactions -->
    <property name="hibernate.transction.factory_class">org.hibernate.JDBCTrasactionFatory</property>
    <!-- mapping file location-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="beans.Korisnik"/>
    <mapping class="beans.Zahtev"/>
    <mapping class="beans.Festival"/>
    <mapping class="beans.Place"/>
    <mapping class="beans.Projection"/>
    <mapping class="Model.Movie"/>
    <mapping class="Model.Location"/>
  </session-factory>
</hibernate-configuration>
